body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#mapid { 
  width:100%;
  height: 500px; 
}

a {
  color: #00B7FF;
}

.btn {
  cursor: pointer;
  padding: 10px !important;
  margin: 10px !important;
}