extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Nueva bicicleta
                hr.star-primary                
            .row
            .col-lg-12
                a.btn.btn-primary(href='/bicicletas') Listar bicicletas
                hr
                form(action='/bicicletas/create' method='post')        
                    .form-group
                        label(for='id') Identificador
                        input#id.form-control(type='text' name='id')
                    .form-group
                        label(for='color') Color
                        input#color.form-control(type='text' name='color')
                    .form-group
                        label(for='modelo') Modelo
                        input#modelo.form-control(type='text' name='modelo')
                    .form-group
                        label(for='lat') Latitud
                        input#lat.form-control(type='text' name='lat')
                    .form-group
                        label(for='lon') Longitud
                        input#lon.form-control(type='text' name='lon')
                    button.btn.btn-success(type='submit') Guardar