extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Detalle de bicicleta
                hr.star-primary                
            .row
            .col-lg-12       
                a.btn.btn-primary(href='/bicicletas') Listar bicicletas
                hr
                form
                    .form-group.row
                        label.col-sm-2.col-form-label Identificador:
                        .col-sm-10
                            p#id(name='id') 
                                =bici.id
                    .form-group.row
                        label.col-sm-2.col-form-label Color:
                        .col-sm-10
                            p#color(name='color' ) 
                                =bici.color
                    .form-group.row
                        label.col-sm-2.col-form-label Modelo:
                        .col-sm-10
                            p#modelo(name='modelo' ) 
                                =bici.modelo
                    .form-group.row
                        label.col-sm-2.col-form-label Latitud:
                        .col-sm-10
                            p#latitud(name='lat') 
                                =bici.ubicacion[0]
                    .form-group.row
                        label.col-sm-2.col-form-label Longitud:
                        .col-sm-10
                            p#longitud(name='lon' ) 
                                =bici.ubicacion[1]
                    a.btn.btn-warning(href='/bicicletas/update/' + bici.id) Editar