extends ../layout

block content
    section#Contenido
      .container
        .row
            .col-lg-12.text-center
                h2  Editar bicicleta
                hr.star-primary                
            .row
            .col-lg-12                
                a.btn.btn-primary(href='/bicicletas') Listar bicicletas
                hr
                form(action=`/bicicletas/update/${bici.id}` method='post')
                    .form-group
                        label(for='id') Identificador
                        input#id.form-control(type='text' name='id' value=bici.id)
                    .form-group
                        label(for='color') Color
                        input#color.form-control(type='text' name='color' value=bici.color)
                    .form-group
                        label(for='modelo') Modelo
                        input#modelo.form-control(type='text' name='modelo' value=bici.modelo)
                    .form-group
                        label(for='lat') Latitud
                        input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
                    .form-group
                        label(for='lon') Longitud
                        input#lon.form-control(type='text' name='lon' value=bici.ubicacion[1])
                    button.btn.btn-success(type='submit') Guardar